<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>도서 수정</title>
</head>
<body>
<h1>✏️ 도서 수정</h1>

<form th:action="@{'/books/' + ${form.id} + '/edit'}" th:object="${form}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <div>
    도서명: <input type="text" th:field="*{name}" required>
  </div>
  <div>
    저자: <input type="text" th:field="*{author}" required>
  </div>
  <div>
    카테고리: <input type="text" th:field="*{category}" required>
  </div>
  <div>
    재고 수량: <input type="number" th:field="*{stockQuantity}" min="0">
  </div>
  <br>
  <button type="submit">수정하기</button>
</form>
</body>
</html>
