<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <header style="background-color:#f2f2f2;padding:15px;">
        <h1>📚 도서 관리 시스템</h1>
        <nav>
            <a th:href="@{/}">홈</a> |
            <a th:href="@{/books}">도서 목록</a> |
            <a th:href="@{/rentals}">도서 대여</a> |
            <a th:href="@{/rentals/rentalList}">대여 내역</a> |
            <a th:href="@{/reservations}">도서 예약</a> |

            <!-- 비로그인 -->
            <span sec:authorize="!isAuthenticated()">
        <a th:href="@{/members/new}">회원가입</a> |
        <a th:href="@{/login}">로그인</a>
      </span>

            <!-- 로그인 -->
            <span sec:authorize="isAuthenticated()">
        <strong><span sec:authentication="name"></span></strong>님 환영합니다!
        |
        <form th:action="@{/logout}" method="post" style="display:inline;">
          <button type="submit">로그아웃</button>
        </form>
      </span>
        </nav>
    </header>
    <hr>
</div>
