<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>도서 예약</title>
</head>
<body>
<h1>📕 도서 예약</h1>

<form th:action="@{/reservations}" method="post">
  <input type="hidden" name="memberId" th:value="${members.id}"/>

  <p>회원: <span th:text="${members.name}">회원이름</span></p>

  <label for="book">도서 선택:</label>
  <select name="bookId" id="book">
    <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.bookName}">도서명</option>
  </select>
  <br><br>

  수량: <input type="number" name="count" value="1" min="1"><br><br>

  <button type="submit">예약하기</button>
</form>
</body>
</html>
